h1{
    color: #551717;
}

h3, h5{
    color: #551717; 
    font-family: fantasy;
}
#user{
    background-color: rgb(236, 212, 212);
}
#margin{
    margin-left: 35%;
}
input{
    width: 30%;
    box-shadow: none;
}

.btn{
    border-color: #551717;
    background-color: white;
    font-weight:bolder;
    text-decoration:none;
    margin-left: 0.1%;
    box-shadow: none;
}

.botao{
    border-color: #551717;
    background-color: rgb(209, 166, 166);
    font-weight:bolder;
    text-decoration:none;
    color: #551717;
    box-shadow: none;
}
.botao:hover{
    background-color: #551717;
    border-color: #551717;
    color: white;
    box-shadow: none;
}
#entrada{
    margin-left: 35%;
    padding-bottom: 1%;
}